html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: black;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2.3vmin;
    color: rgb(240, 18, 103);
    user-select: none;
}

scene {
    width: 1280px;
    height: 720px;
    display: inline-block;
}

canvas {
    width: 100vw;
    height: 100vh;
}


/* SPLASH SCREEN */

dialog[type=splash] {
    background-image: url("Assets/Graphics/Splash/splash.PNG");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

dialog[type="splash"]>div {
    width: 50%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vh;
    border-radius: 15px;
    opacity: 60%;
}

dialog[type="splash"]>div>div {
    padding: 10px;
    font-size: 2vmin;
    color: rgb(96, 85, 155);
    text-align: center;
}

#FudgeStoryLogo {
    width: 25%;
    margin-left: 74vw;
}

/* SPEECH */

speech {
    visibility: hidden;
    position: absolute;
    display: block;
    padding: 20px;
    margin-bottom: 4.2vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.863);
    height: 12%;
    width: 96.9%;
}

speech content {
    color: rgb(208, 201, 211);
    font-size: 2.5vmin;
    position: absolute;
    left: 20px;
    font-family: Lucida Sans, Helvetica, Arial, sans-serif
}

speech name {
    font-size: 2vmin;
    font-family: 'DePixel', sans-serif;
    display: block;
    color: rgb(161, 195, 255);
    margin-bottom: 10px;
}

.gameMenuCSSClass {
    width: 100vw;
    bottom: 0;
    margin-right: 0vw;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.863);
    color: rgb(208, 201, 211);
    padding: 0vh;
    border-color: rgba(0, 0, 0, 0);
}

.gameMenuCSSClass button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(208, 201, 211);
    border-color: rgba(0, 0, 0, 0);
}

.gameMenuCSSClass button:hover {
    color: rgb(240, 240, 240);
}

.decisionClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.decisionClass button {
    text-align: center;
    color: rgb(208, 201, 211);
    background-color: rgba(0, 0, 0, 0.744);
    border-color: rgba(0, 0, 0, 0);
    width: 100%;
    margin-top: 1vh;
    padding: 0.5vh;
    font-size: 2.5vh;
}

.decisionClass button:hover {
    color: rgb(240, 240, 240);
    background-color: rgba(0, 0, 0, 0.863);
}

.decisionRobotFight {
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: left;
    flex-wrap: wrap;
    margin-right: 0;
    margin-bottom: 4.3vh;
    width: 20vw;
    background-color: rgb(208, 201, 211);
    ;
}

.decisionRobotFight button {
    text-align: left;
    color: rgb(208, 201, 211);
    background-color: rgba(0, 0, 0, 0.744);
    border-color: rgb(208, 201, 211);
    border-style: solid;
    width: 10vw;
    margin-top: 1vh;
    padding: 1vh;
    font-size: 2.5vh;
}

.decisionRobotFight button:hover {
    color: rgb(240, 240, 240);
    background-color: rgba(0, 0, 0, 0.863);
}

#loveBars {
    visibility: hidden;
}

#fightBars {
    visibility: hidden;
}

/* METER BAR */

meter::-webkit-meter-bar {
    background-color: #ececec;
}

meter[id="healthBar"] {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 56%;
    left: -14%;
    width: 35%;
    height: 10%;
}

meter[id="healthBar"]::-webkit-meter-optimum-value {
    background-color: rgb(17, 255, 0);
}

meter[id="enemyHealthBar"] {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 56%;
    right: -14%;
    width: 35%;
    height: 10%;
}

meter[id="enemyHealthBar"]::-webkit-meter-optimum-value {
    background-color: rgb(17, 255, 0);
}

meter[id="louisBar"] {
    position: absolute;
    top: 0;
    left: 1%;
    width: 15%;
    height: 6%;
}

meter[id="louisBar"]::-webkit-meter-optimum-value {
    background-color: rgb(255, 0, 102);
}

#louisName {
    position: absolute;
    top: -1.2%;
    left: 16.5%;
    color: rgb(12, 12, 12);
    font-weight: bold;
    background-color: #ececec;
    padding: 0.3%;
    border-radius: 10%;
}

meter[id="lilyBar"] {
    position: absolute;
    top: 0;
    right: 1%;
    width: 15%;
    height: 6%;
}

meter[id="lilyBar"]::-webkit-meter-optimum-value {
    background-color: rgb(255, 0, 102);
}

#lilyName {
    position: absolute;
    top: -1.2%;
    right: 16.5%;
    color: rgb(12, 12, 12);
    font-weight: bold;
    background-color: #ececec;
    padding: 0.3%;
    border-radius: 10%;
}

dialog[type=inventory] {
    background-color: rgba(0, 0, 0, 0.863);
    border-color: rgba(0, 0, 0, 0);
}

dialog[type=inventory] ul {
    display: flex;
    flex-direction: row;
}

dialog[type=inventory] ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    background-color: #ececec;
    margin-left: 1%;
    border-width: 10%;
    border-style: solid;
    border-radius: 5%;
    border-color: rgba(0, 0, 0, 0);
}

dialog[type=inventory] ul li name {
    font-weight: bold;
}

dialog[type=inventory] ul li amount {
    border-style: solid;
    border-width: 0.1vw;
    border-color: black;
    border-radius: 100%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: smaller;
}

dialog[type=inventory] ul li description {
    font-style: italic;
    font-size: smaller;
}

.louisLetter {
    font-family: 'Shadows Into Light';
    font-weight: bold;
    color: rgb(47, 50, 135);
    border-color: rgba(255, 0, 0, 0);
    border-radius: 1%;
    background-image: url("Assets/Graphics/Letter/paper.png");
}

.lilyLetter {
    font-family: 'Caveat';
    font-weight: bold;
    color: rgb(22, 120, 137);
    border-color: rgba(255, 0, 0, 0);
    border-radius: 1%;
    background-image: url("Assets/Graphics/Letter/paper.png");
}